aiohttp
apscheduler
cowpy
dnspython
git-python
pillow
pip-chill
psutil
ptable
pymongo
pyrogram
python-dotenv
python-git
requests-async
speedtest-cli==2.1.3
tgcrypto
yourls
humanize
thisapidoesnotexist
aiofiles
svglib
reportlab
spotipy
ftpretty