aiohttp
apscheduler
cowpy
dnspython
git-python
pillow
pip-chill
psutil
ptable
pymongo
git+https://github.com/pyrogram/pyrogram@asyncio-dev
python-dotenv
python-git
requests-async
speedtest-cli
tgcrypto
yourls
humanize
thisapidoesnotexist
cairosvg
aiofiles
