[pyrogram]
api_id = 123456
api_hash = your-hash

; You can leave this as is. This will work immediately with the mongodb instance in docker-compose.yml
[mongo]
; TODO: Remove is_atlas
is_atlas = false
url = userbot-mongo
db_name = userbot
db_username = userbot
db_password = userbot-password

[pm_permit]
pm_permit = false
pm_limit = 5

[logs]
log_group = None

[yandex]
key = your-key-but-Yandex-no-longer-gives

[misc]
yourls_url = http://your-domain.test/yourls-api.php
yourls_key = your key here

[spotify]
username =
client_id =
client_secret =

[proxy]
socks5_proxy = socks5://username:password@ip-address:port