name: Docker Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build and push Docker image
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        docker-compose -f .build/docker-compose.yml build
        docker login ghcr.io -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        docker-compose -f .build/docker-compose.yml push             
